@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel|EB+Garamond');
/*
ABRIL
 font-family: 'Abril Fatface', cursive;

 CINZEL
font-family: 'Cinzel', serif;

EB+GARMOND
font-family: 'EB Garamond', serif;

*/